# virtual environments
.venv/
env/
venv/

# Non-anonymous/extra data
Participant_Data.xlsx
Participant_Data_ml.csv
McQueen_MSkills_IPS_Data.xlsx

# Figures (ignore files with ASD, TD, or DCD in name)
MEM_Figures/*ASD*
MEM_Figures/*TD*
MEM_Figures/*DCD*

# Extra scripts
extra_scripts