# virtual environments
.venv/
env/
venv/

# Non-anonymous data
Participant_Data.xlsx

# Figures
Figures/*

# Extra R code
motor_coord_analysis.R

# Extra machine learning code
machine-learning-full.ipynb